﻿.e-upload-form
{
	min-height: 400px;
	width: 100%;
	border: solid 1px #808080;
	border-radius: 4px;
}



.e-upload-input
{
	display: none !important;
}



.e-preview
{
	margin: 8px;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	padding: 6px;
	float: left;
	text-align: center;
}

.e-preview.small
{
	margin: 2px 4px;
	padding: 2px;
}

	.e-preview .e-preview-content
	{
		width: 70px;
		height: 70px;
		margin: 0px auto;
	}

	.e-preview.small .e-preview-content
	{
		width: 50px;
		height: 50px;
	}

		.e-preview .e-preview-content img
		{
			font: 40px Impact, Charcoal, sans-serif;
			color: #008000;
			vertical-align: middle;
			border-style: none;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			margin: 0px auto;
		}

	.e-preview .e-preview-footer
	{
		height: 40px;
		padding: 10px 0px 0px 0px;
	}

		.e-preview .e-preview-footer .footer-caption
		{
			height: 40px;
			text-align: center;
			border-top: solid 1px #f5f5f5;
		}

		.e-preview .e-preview-footer .footer-action-left
		{
			float: right;
		}

		.e-preview .e-preview-footer .footer-action-right
		{
			float: right;
			text-align: right;
		}
