﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HH_breadCrumb.ascx.cs" Inherits="SweetSoft.HiepHung.Controls.HH_breadCrumb" %>
<h1>Text Editors
       
                        <small>Advanced form element</small>
</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
    <li><a href="#">Forms</a></li>
    <li class="active">Editors</li>
</ol>
