﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HH_LeftSidebar.ascx.cs" Inherits="SweetSoft.HiepHung.Controls.HH_LeftSidebar" %>

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Danh sách chức năng</li>
        <asp:Literal ID="ltrMenu" runat="server"></asp:Literal>
       <%-- <li>
            <a href="../calendar.html">
                <i class="fa fa-calendar"></i><span>Calendar</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-red">3</small>
                    <small class="label pull-right bg-blue">17</small>
                </span>
            </a>
        </li>
        <li class="treeview">

            <a href="#">
                <i class="fa fa-dashboard"></i><span>Dashboard</span>
                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
            </a>
            <ul class="treeview-menu">
                <li><a href="../../index.html"><i class="fa fa-circle-o"></i>Dashboard v1</a></li>
                <li><a href="../../index2.html"><i class="fa fa-circle-o"></i>Dashboard v2</a></li>
            </ul>
        </li>--%>
    </ul>
</section>
<!-- /.sidebar -->
