﻿input[type='text'].text-violet:focus,
input[type='password'].text-violet:focus {
    border-color: #4e148f;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(70, 20, 143, 0.6);
}

input.form-control + .sp-title,
.sp-error + .sp-title {
    display: none;
    color: #8A8292;
    font-size: 12px;
}

input.form-control:active + .sp-title,
input.form-control:focus + .sp-title,
input.form-control:active + .sp-error + .sp-title,
input.form-control:focus + .sp-error + .sp-title {
    display: inline-block;
}

.sp-error + .sp-title {
}

.sp-name {
    color: #8F8F8F;
    font-size: 1rem;
    margin-left: 15px;
    display:none;
}

    .sp-name.sp-error {
        color: #d06051;
        font-size: 12px;
        display:inline-block;
    }
