﻿.loading-box-large
{
	display:none;
}


.cssload-cube, .cssload-half1, .cssload-half2, .cssload-container {
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
}

.cssload-container {
	position: fixed;
    z-index: 10000;
	top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
	perspective: 713px;
		-o-perspective: 713px;
		-ms-perspective: 713px;
		-webkit-perspective: 713px;
		-moz-perspective: 713px;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
}

.cssload-cube {
	margin: 0px auto;
    margin-top: 20%;
	width: 238px;
	height: 238px;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
}

.cssload-cube {
	animation: cube 2.5s forwards infinite;
		-o-animation: cube 2.5s forwards infinite;
		-ms-animation: cube 2.5s forwards infinite;
		-webkit-animation: cube 2.5s forwards infinite;
		-moz-animation: cube 2.5s forwards infinite;
	transform-origin: center 119px;
		-o-transform-origin: center 119px;
		-ms-transform-origin: center 119px;
		-webkit-transform-origin: center 119px;
		-moz-transform-origin: center 119px;
}

.cssload-half1 {
	height: 95px;
	top: 0;
	position: absolute;
	animation: half-fold 2.5s forwards infinite;
		-o-animation: half-fold 2.5s forwards infinite;
		-ms-animation: half-fold 2.5s forwards infinite;
		-webkit-animation: half-fold 2.5s forwards infinite;
		-moz-animation: half-fold 2.5s forwards infinite;
	transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
}

.cssload-side {
	width: 48px;
	height: 48px;
	background: rgba(51,122,183,0.71);
	position: absolute;
}

.cssload-s1 {
	top: 0;
	left: 95px;
	transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
	animation: s1ani 2.5s forwards infinite;
		-o-animation: s1ani 2.5s forwards infinite;
		-ms-animation: s1ani 2.5s forwards infinite;
		-webkit-animation: s1ani 2.5s forwards infinite;
		-moz-animation: s1ani 2.5s forwards infinite;
}

.cssload-s2 {
	top: 48px;
	left: 95px;
	transform-origin: 50% 0%;
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
	animation: s2ani 2.5s forwards infinite;
		-o-animation: s2ani 2.5s forwards infinite;
		-ms-animation: s2ani 2.5s forwards infinite;
		-webkit-animation: s2ani 2.5s forwards infinite;
		-moz-animation: s2ani 2.5s forwards infinite;
}

.cssload-s3 {
	top: 95px;
	left: 95px;
	transform-origin: 50% 0%;
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
	animation: s3ani 2.5s forwards infinite;
		-o-animation: s3ani 2.5s forwards infinite;
		-ms-animation: s3ani 2.5s forwards infinite;
		-webkit-animation: s3ani 2.5s forwards infinite;
		-moz-animation: s3ani 2.5s forwards infinite;
}

.cssload-s4 {
	top: 143px;
	left: 95px;
	transform-origin: 50% 0%;
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-webkit-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
	animation: s4ani 2.5s forwards infinite;
		-o-animation: s4ani 2.5s forwards infinite;
		-ms-animation: s4ani 2.5s forwards infinite;
		-webkit-animation: s4ani 2.5s forwards infinite;
		-moz-animation: s4ani 2.5s forwards infinite;
}

.cssload-s5 {
	left: 48px;
	top: 48px;
	transform-origin: 100% 50%;
		-o-transform-origin: 100% 50%;
		-ms-transform-origin: 100% 50%;
		-webkit-transform-origin: 100% 50%;
		-moz-transform-origin: 100% 50%;
	animation: s5ani 2.5s forwards infinite;
		-o-animation: s5ani 2.5s forwards infinite;
		-ms-animation: s5ani 2.5s forwards infinite;
		-webkit-animation: s5ani 2.5s forwards infinite;
		-moz-animation: s5ani 2.5s forwards infinite;
}

.cssload-s6 {
	left: 143px;
	top: 95px;
	transform-origin: 0% 50%;
		-o-transform-origin: 0% 50%;
		-ms-transform-origin: 0% 50%;
		-webkit-transform-origin: 0% 50%;
		-moz-transform-origin: 0% 50%;
	animation: s6ani 2.5s forwards infinite;
		-o-animation: s6ani 2.5s forwards infinite;
		-ms-animation: s6ani 2.5s forwards infinite;
		-webkit-animation: s6ani 2.5s forwards infinite;
		-moz-animation: s6ani 2.5s forwards infinite;
}












@keyframes cube {
	0% {
		transform: rotateX(0deg);
	}
	30% {
		transform: rotateX(0deg);
	}
	40% {
		transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
		/* CUBE ROTATES BACK */
	}
	60% {
		transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
		/* ARMS FOLD UP */
	}
	65% {
		transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
		/* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
	}
	70% {
		transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
	}
	75% {
		transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
		/* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
	}
	80% {
		transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
	}
	90% {
		transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
		/* FADE TO BLACK */
	}
}

@-o-keyframes cube {
	0% {
		-o-transform: rotateX(0deg);
	}
	30% {
		-o-transform: rotateX(0deg);
	}
	40% {
		-o-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
		/* CUBE ROTATES BACK */
	}
	60% {
		-o-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
		/* ARMS FOLD UP */
	}
	65% {
		-o-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
		/* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
	}
	70% {
		-o-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
	}
	75% {
		-o-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
		/* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
	}
	80% {
		-o-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
	}
	90% {
		-o-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
		/* FADE TO BLACK */
	}
}

@-ms-keyframes cube {
	0% {
		-ms-transform: rotateX(0deg);
	}
	30% {
		-ms-transform: rotateX(0deg);
	}
	40% {
		-ms-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
		/* CUBE ROTATES BACK */
	}
	60% {
		-ms-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
		/* ARMS FOLD UP */
	}
	65% {
		-ms-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
		/* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
	}
	70% {
		-ms-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
	}
	75% {
		-ms-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
		/* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
	}
	80% {
		-ms-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
	}
	90% {
		-ms-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
		/* FADE TO BLACK */
	}
}

@-webkit-keyframes cube {
	0% {
		-webkit-transform: rotateX(0deg);
	}
	30% {
		-webkit-transform: rotateX(0deg);
	}
	40% {
		-webkit-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
		/* CUBE ROTATES BACK */
	}
	60% {
		-webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
		/* ARMS FOLD UP */
	}
	65% {
		-webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
		/* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
	}
	70% {
		-webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
	}
	75% {
		-webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
		/* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
	}
	80% {
		-webkit-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
	}
	90% {
		-webkit-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
		/* FADE TO BLACK */
	}
}

@-moz-keyframes cube {
	0% {
		-moz-transform: rotateX(0deg);
	}
	30% {
		-moz-transform: rotateX(0deg);
	}
	40% {
		-moz-transform: rotateX(45deg) rotateY(0deg) rotateZ(45deg);
		/* CUBE ROTATES BACK */
	}
	60% {
		-moz-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
		/* ARMS FOLD UP */
	}
	65% {
		-moz-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
		/* SPIN REVEALS CYAN RIGHT, RED LEFT (s2) */
	}
	70% {
		-moz-transform: rotateX(60deg) rotate(45deg) rotateZ(180deg);
	}
	75% {
		-moz-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
		/* SPIN REVEALS MAGENTA RIGHT, YELLOW LEFT (s4) */
	}
	80% {
		-moz-transform: rotateX(60deg) rotate(45deg) rotateZ(360deg);
	}
	90% {
		-moz-transform: rotateX(0deg) rotate(0deg) rotateZ(0deg);
		/* FADE TO BLACK */
	}
}

@keyframes s1ani {
	0% {
		opacity: 1;
		transform: translateY(0px);
		background: rgba(51,122,183,0.76);
	}
	40% {
		transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		transform: rotateX(-90deg);
		background: rgba(51,122,183,0.84);
	}
	90% {
		transform: rotateX(-90deg);
	}
}

@-o-keyframes s1ani {
	0% {
		opacity: 1;
		-o-transform: translateY(0px);
		background: rgba(51,122,183,0.76);
	}
	40% {
		-o-transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		-o-transform: rotateX(-90deg);
		background: rgba(51,122,183,0.84);
	}
	90% {
		-o-transform: rotateX(-90deg);
	}
}

@-ms-keyframes s1ani {
	0% {
		opacity: 1;
		-ms-transform: translateY(0px);
		background: rgba(51,122,183,0.76);
	}
	40% {
		-ms-transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		-ms-transform: rotateX(-90deg);
		background: rgba(51,122,183,0.84);
	}
	90% {
		-ms-transform: rotateX(-90deg);
	}
}

@-webkit-keyframes s1ani {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		background: rgba(51,122,183,0.76);
	}
	40% {
		-webkit-transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		-webkit-transform: rotateX(-90deg);
		background: rgba(51,122,183,0.84);
	}
	90% {
		-webkit-transform: rotateX(-90deg);
	}
}

@-moz-keyframes s1ani {
	0% {
		opacity: 1;
		-moz-transform: translateY(0px);
		background: rgba(51,122,183,0.76);
	}
	40% {
		-moz-transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		-moz-transform: rotateX(-90deg);
		background: rgba(51,122,183,0.84);
	}
	90% {
		-moz-transform: rotateX(-90deg);
	}
}

@keyframes s2ani {
	0% {
		opacity: 0;
		transform: rotateX(-179deg);
	}
	10% {
		opacity: 1;
		transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.88);
	}
	45% {
		background: rgba(33,51,79,0.86);
	}
	65% {
		opacity: 1;
		background: rgba(33,51,79,0.85);
		/* DARKEST VISIBLE */
	}
	80% {
		background: rgba(33,51,79,0.83);
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes s2ani {
	0% {
		opacity: 0;
		-o-transform: rotateX(-179deg);
	}
	10% {
		opacity: 1;
		-o-transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.88);
	}
	45% {
		background: rgba(33,51,79,0.86);
	}
	65% {
		opacity: 1;
		background: rgba(33,51,79,0.85);
		/* DARKEST VISIBLE */
	}
	80% {
		background: rgba(33,51,79,0.83);
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes s2ani {
	0% {
		opacity: 0;
		-ms-transform: rotateX(-179deg);
	}
	10% {
		opacity: 1;
		-ms-transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.88);
	}
	45% {
		background: rgba(33,51,79,0.86);
	}
	65% {
		opacity: 1;
		background: rgba(33,51,79,0.85);
		/* DARKEST VISIBLE */
	}
	80% {
		background: rgba(33,51,79,0.83);
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes s2ani {
	0% {
		opacity: 0;
		-webkit-transform: rotateX(-179deg);
	}
	10% {
		opacity: 1;
		-webkit-transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.88);
	}
	45% {
		background: rgba(33,51,79,0.86);
	}
	65% {
		opacity: 1;
		background: rgba(33,51,79,0.85);
		/* DARKEST VISIBLE */
	}
	80% {
		background: rgba(33,51,79,0.83);
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes s2ani {
	0% {
		opacity: 0;
		-moz-transform: rotateX(-179deg);
	}
	10% {
		opacity: 1;
		-moz-transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.88);
	}
	45% {
		background: rgba(33,51,79,0.86);
	}
	65% {
		opacity: 1;
		background: rgba(33,51,79,0.85);
		/* DARKEST VISIBLE */
	}
	80% {
		background: rgba(33,51,79,0.83);
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes s3ani {
	0% {
		opacity: 0;
		transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
		transform: rotateX(-179deg);
	}
	20% {
		opacity: 1;
		transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.9);
	}
	45% {
		background: rgba(51,122,183,0.88);
		/* DARKEST VISIBLE */
	}
	90% {
		opacity: 1;
		transform: rotateX(0deg);
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes s3ani {
	0% {
		opacity: 0;
		-o-transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
		-o-transform: rotateX(-179deg);
	}
	20% {
		opacity: 1;
		-o-transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.9);
	}
	45% {
		background: rgba(51,122,183,0.88);
		/* DARKEST VISIBLE */
	}
	90% {
		opacity: 1;
		-o-transform: rotateX(0deg);
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes s3ani {
	0% {
		opacity: 0;
		-ms-transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
		-ms-transform: rotateX(-179deg);
	}
	20% {
		opacity: 1;
		-ms-transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.9);
	}
	45% {
		background: rgba(51,122,183,0.88);
		/* DARKEST VISIBLE */
	}
	90% {
		opacity: 1;
		-ms-transform: rotateX(0deg);
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes s3ani {
	0% {
		opacity: 0;
		-webkit-transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
		-webkit-transform: rotateX(-179deg);
	}
	20% {
		opacity: 1;
		-webkit-transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.9);
	}
	45% {
		background: rgba(51,122,183,0.88);
		/* DARKEST VISIBLE */
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateX(0deg);
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes s3ani {
	0% {
		opacity: 0;
		-moz-transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
		-moz-transform: rotateX(-179deg);
	}
	20% {
		opacity: 1;
		-moz-transform: rotateX(0deg);
	}
	40% {
		background: rgba(51,122,183,0.9);
	}
	45% {
		background: rgba(51,122,183,0.88);
		/* DARKEST VISIBLE */
	}
	90% {
		opacity: 1;
		-moz-transform: rotateX(0deg);
	}
	100% {
		opacity: 0;
	}
}

@keyframes s4ani {
	0% {
		opacity: 0;
		transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		transform: rotateX(-179deg);
	}
	30% {
		opacity: 1;
		transform: rotateX(0deg);
	}
	40% {
		transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		transform: rotateX(90deg);
		background: rgba(33,51,79,0.83);
	}
	80% {
		background: rgba(33,51,79,0.85);
	}
	90% {
		opacity: 1;
		transform: rotateX(90deg);
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes s4ani {
	0% {
		opacity: 0;
		-o-transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		-o-transform: rotateX(-179deg);
	}
	30% {
		opacity: 1;
		-o-transform: rotateX(0deg);
	}
	40% {
		-o-transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		-o-transform: rotateX(90deg);
		background: rgba(33,51,79,0.83);
	}
	80% {
		background: rgba(33,51,79,0.85);
	}
	90% {
		opacity: 1;
		-o-transform: rotateX(90deg);
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes s4ani {
	0% {
		opacity: 0;
		-ms-transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		-ms-transform: rotateX(-179deg);
	}
	30% {
		opacity: 1;
		-ms-transform: rotateX(0deg);
	}
	40% {
		-ms-transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		-ms-transform: rotateX(90deg);
		background: rgba(33,51,79,0.83);
	}
	80% {
		background: rgba(33,51,79,0.85);
	}
	90% {
		opacity: 1;
		-ms-transform: rotateX(90deg);
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes s4ani {
	0% {
		opacity: 0;
		-webkit-transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		-webkit-transform: rotateX(-179deg);
	}
	30% {
		opacity: 1;
		-webkit-transform: rotateX(0deg);
	}
	40% {
		-webkit-transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		-webkit-transform: rotateX(90deg);
		background: rgba(33,51,79,0.83);
	}
	80% {
		background: rgba(33,51,79,0.85);
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateX(90deg);
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes s4ani {
	0% {
		opacity: 0;
		-moz-transform: rotateX(-179deg);
	}
	10% {
		opacity: 0;
	}
	20% {
		opacity: 0;
		-moz-transform: rotateX(-179deg);
	}
	30% {
		opacity: 1;
		-moz-transform: rotateX(0deg);
	}
	40% {
		-moz-transform: rotateX(0deg);
		background: rgba(51,122,183,0.85);
	}
	50% {
		-moz-transform: rotateX(90deg);
		background: rgba(33,51,79,0.83);
	}
	80% {
		background: rgba(33,51,79,0.85);
	}
	90% {
		opacity: 1;
		-moz-transform: rotateX(90deg);
	}
	100% {
		opacity: 0;
	}
}

@keyframes s5ani {
	0% {
		opacity: 0;
		transform: rotateY(-179deg);
	}
	10% {
		opacity: 0;
		transform: rotateY(-179deg);
	}
	20% {
		opacity: 1;
		background: rgba(33,51,79,0.86);
		transform: rotateY(0deg);
	}
	40% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(90deg);
	}
	55% {
		background: rgba(51,122,183,0.8);
	}
	60% {
		background: rgba(33,51,79,0.88);
	}
	90% {
		transform: rotateY(90deg);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes s5ani {
	0% {
		opacity: 0;
		-o-transform: rotateY(-179deg);
	}
	10% {
		opacity: 0;
		-o-transform: rotateY(-179deg);
	}
	20% {
		opacity: 1;
		background: rgba(33,51,79,0.86);
		-o-transform: rotateY(0deg);
	}
	40% {
		-o-transform: rotateY(0deg);
	}
	50% {
		-o-transform: rotateY(90deg);
	}
	55% {
		background: rgba(51,122,183,0.8);
	}
	60% {
		background: rgba(33,51,79,0.88);
	}
	90% {
		-o-transform: rotateY(90deg);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes s5ani {
	0% {
		opacity: 0;
		-ms-transform: rotateY(-179deg);
	}
	10% {
		opacity: 0;
		-ms-transform: rotateY(-179deg);
	}
	20% {
		opacity: 1;
		background: rgba(33,51,79,0.86);
		-ms-transform: rotateY(0deg);
	}
	40% {
		-ms-transform: rotateY(0deg);
	}
	50% {
		-ms-transform: rotateY(90deg);
	}
	55% {
		background: rgba(51,122,183,0.8);
	}
	60% {
		background: rgba(33,51,79,0.88);
	}
	90% {
		-ms-transform: rotateY(90deg);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes s5ani {
	0% {
		opacity: 0;
		-webkit-transform: rotateY(-179deg);
	}
	10% {
		opacity: 0;
		-webkit-transform: rotateY(-179deg);
	}
	20% {
		opacity: 1;
		background: rgba(33,51,79,0.86);
		-webkit-transform: rotateY(0deg);
	}
	40% {
		-webkit-transform: rotateY(0deg);
	}
	50% {
		-webkit-transform: rotateY(90deg);
	}
	55% {
		background: rgba(51,122,183,0.8);
	}
	60% {
		background: rgba(33,51,79,0.88);
	}
	90% {
		-webkit-transform: rotateY(90deg);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes s5ani {
	0% {
		opacity: 0;
		-moz-transform: rotateY(-179deg);
	}
	10% {
		opacity: 0;
		-moz-transform: rotateY(-179deg);
	}
	20% {
		opacity: 1;
		background: rgba(33,51,79,0.86);
		-moz-transform: rotateY(0deg);
	}
	40% {
		-moz-transform: rotateY(0deg);
	}
	50% {
		-moz-transform: rotateY(90deg);
	}
	55% {
		background: rgba(51,122,183,0.8);
	}
	60% {
		background: rgba(33,51,79,0.88);
	}
	90% {
		-moz-transform: rotateY(90deg);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes s6ani {
	0% {
		opacity: 0;
		transform: rotateY(179deg);
	}
	20% {
		opacity: 0;
		transform: rotateY(179deg);
	}
	30% {
		opacity: 1;
		transform: rotateY(0deg);
	}
	40% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(-90deg);
		background: #dddddd;
	}
	60% {
		background: #c8c8c8;
	}
	80% {
		background: #c8c8c8;
	}
	90% {
		opacity: 1;
		transform: rotateY(-90deg);
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes s6ani {
	0% {
		opacity: 0;
		-o-transform: rotateY(179deg);
	}
	20% {
		opacity: 0;
		-o-transform: rotateY(179deg);
	}
	30% {
		opacity: 1;
		-o-transform: rotateY(0deg);
	}
	40% {
		-o-transform: rotateY(0deg);
	}
	50% {
		-o-transform: rotateY(-90deg);
		background: #dddddd;
	}
	60% {
		background: #c8c8c8;
	}
	80% {
		background: #c8c8c8;
	}
	90% {
		opacity: 1;
		-o-transform: rotateY(-90deg);
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes s6ani {
	0% {
		opacity: 0;
		-ms-transform: rotateY(179deg);
	}
	20% {
		opacity: 0;
		-ms-transform: rotateY(179deg);
	}
	30% {
		opacity: 1;
		-ms-transform: rotateY(0deg);
	}
	40% {
		-ms-transform: rotateY(0deg);
	}
	50% {
		-ms-transform: rotateY(-90deg);
		background: #dddddd;
	}
	60% {
		background: #c8c8c8;
	}
	80% {
		background: #c8c8c8;
	}
	90% {
		opacity: 1;
		-ms-transform: rotateY(-90deg);
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes s6ani {
	0% {
		opacity: 0;
		-webkit-transform: rotateY(179deg);
	}
	20% {
		opacity: 0;
		-webkit-transform: rotateY(179deg);
	}
	30% {
		opacity: 1;
		-webkit-transform: rotateY(0deg);
	}
	40% {
		-webkit-transform: rotateY(0deg);
	}
	50% {
		-webkit-transform: rotateY(-90deg);
		background: #dddddd;
	}
	60% {
		background: #c8c8c8;
	}
	80% {
		background: #c8c8c8;
	}
	90% {
		opacity: 1;
		-webkit-transform: rotateY(-90deg);
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes s6ani {
	0% {
		opacity: 0;
		-moz-transform: rotateY(179deg);
	}
	20% {
		opacity: 0;
		-moz-transform: rotateY(179deg);
	}
	30% {
		opacity: 1;
		-moz-transform: rotateY(0deg);
	}
	40% {
		-moz-transform: rotateY(0deg);
	}
	50% {
		-moz-transform: rotateY(-90deg);
		background: #dddddd;
	}
	60% {
		background: #c8c8c8;
	}
	80% {
		background: #c8c8c8;
	}
	90% {
		opacity: 1;
		-moz-transform: rotateY(-90deg);
	}
	100% {
		opacity: 0;
	}
}

@keyframes half-fold {
	0% {
		transform: rotateX(0deg);
	}
	50% {
		transform: rotateX(0deg);
	}
	60% {
		transform: rotateX(-90deg);
	}
	90% {
		transform: rotateX(-90deg);
	}
}

@-o-keyframes half-fold {
	0% {
		-o-transform: rotateX(0deg);
	}
	50% {
		-o-transform: rotateX(0deg);
	}
	60% {
		-o-transform: rotateX(-90deg);
	}
	90% {
		-o-transform: rotateX(-90deg);
	}
}

@-ms-keyframes half-fold {
	0% {
		-ms-transform: rotateX(0deg);
	}
	50% {
		-ms-transform: rotateX(0deg);
	}
	60% {
		-ms-transform: rotateX(-90deg);
	}
	90% {
		-ms-transform: rotateX(-90deg);
	}
}

@-webkit-keyframes half-fold {
	0% {
		-webkit-transform: rotateX(0deg);
	}
	50% {
		-webkit-transform: rotateX(0deg);
	}
	60% {
		-webkit-transform: rotateX(-90deg);
	}
	90% {
		-webkit-transform: rotateX(-90deg);
	}
}

@-moz-keyframes half-fold {
	0% {
		-moz-transform: rotateX(0deg);
	}
	50% {
		-moz-transform: rotateX(0deg);
	}
	60% {
		-moz-transform: rotateX(-90deg);
	}
	90% {
		-moz-transform: rotateX(-90deg);
	}
}