﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Demo.aspx.cs" Inherits="SweetSoft.HiepHung.Demo" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">

        <asp:ScriptManager ID="scriptManager" runat="server"></asp:ScriptManager>
        <div>
            
        </div>
    </form>
</body>
</html>
