@font-face {
    font-family: "Flaticon";
    src: url('<%=WebResource("SweetSoft.ExtraControls.icons.FlatIcon.flaticon.eot")%>');
    src: url('<%=WebResource("SweetSoft.ExtraControls.icons.FlatIcon.flaticon.eot")%>') format("embedded-opentype"), url('<%=WebResource("SweetSoft.ExtraControls.icons.FlatIcon.flaticon.woff")%>') format("woff"), url('<%=WebResource("SweetSoft.ExtraControls.icons.FlatIcon.flaticon.ttf")%>') format("truetype"), url('<%=WebResource("SweetSoft.ExtraControls.icons.FlatIcon.flaticon.svg")%>') format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
  
}

.flaticon-checkbox3:before {
    content: "\e000";
}

.flaticon-copy21:before {
    content: "\e001";
}
